.vscode
__pycache__
checkpoints
log
*.pth
*.onnx
*.pt
*.log
*.csv
.ipynb_checkpoints
flagged
pretrained_models
interactive_segmentation
11.interactive_segmentation_training
gradio_segment_anything_point_prompt_single_image.py
stable_diffusion_model
21.stable_diffusion_model_inference