.vscode
__pycache__
checkpoints
log
.ipynb_checkpoints
*.pth
*.onnx
*.pt
*.log
*.csv
flagged
pretrained_models
ocr_text_detection_training
ocr_text_recognition_training
human_matting_training
salient_object_detection_training
large_diffusion_model