.vscode
__pycache__
checkpoints
*.pth
pretrained_models
semantic_segmentation_training
simpleAICV/semantic_segmentation
tools/test_semantic_segmentation_model.py
tools/train_semantic_segmentation_model.py
